@import '../styles/constants/colors.scss';
@import '../styles/constants/typography.scss';
@import '../styles/constants/grid.scss';

.mainNavbar {
  border-right: solid 1px $color-grey-100;
  display: flex;
  flex-direction: column;

  & > ul {
    list-style: none;
    padding-left: 0;

    &.bottomNav {
      margin-top: auto;
    }

    & > li {
      padding: $grid-base-unit calc(2 * $grid-base-unit);
      margin-bottom: 0;
      &.active {
        & > a {
          font-weight: 600;
          color: $color-violet-base;
          &:hover {
            color: $color-violet-base;
          }
        }
      }

      & > a {
        @include text-style-typography-ui;
        color: $color-grey-800;

        &:hover {
          color: $color-violet-base;
        }
      }
    }
  }

}

.logoWrapper {
  width: 100%;
  text-align: center;
  padding: calc(2 * $grid-base-unit) 0;
}