@import '../styles/constants/colors.scss';
@import '../styles/constants/typography.scss';
@import '../styles/constants/grid.scss';

.topNav {
  background-color: $color-indigo-brand;
  display: flex;
  position: relative;
  z-index: 3;

  & > .loginMenu {
    display: flex;
    list-style: none;
    white-space: nowrap;
    margin-left: auto;
    margin-right: 24px;
    align-items: center;
    & > li {
      margin: 0 $grid-base-unit;
      & > a {
        border: solid 1px $color-base-white;
        border-radius: 4px;
        color: $color-base-white;
        padding: 8px;
      }
    }
  }

  & > .menuToggle {
    margin-left: auto;
    align-self: center;
    margin-right: 16px;
    padding: 16px;
    border-radius: 4px;
    color: $color-base-white;
    border: solid 1px $color-base-white;
    background-color: $color-indigo-brand;
  }

  & .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
    top: 80px;
  }
}

.logoWrapper {
  display: block;
  position: relative;
  height: 80px;
  width: 128px;
  text-align: center;
  margin-left: 24px;
}


.responsiveMenu {
  width: 100%;
  position: absolute;
  padding-left: 0;
  top: calc(8 * $grid-base-unit);
  z-index: 3;

  background-color: $color-base-white;
  list-style: none;
  border-bottom: solid 1px $color-grey-100;

  & > li {
    padding: calc(2 * $grid-base-unit);
    font-size: 1.1rem;

    & > a {
      width: 100%;
    }
  }
}