$color-base-white: rgba(255,255,255,1);
$color-base-dark: rgba(55,57,58,1);
$color-grey-100: rgba(230,230,230,1);
$color-grey-200: rgba(204,204,204,1);
$color-grey-50: rgba(243,243,243,1);
$color-grey-400: rgba(154,154,154,1);
$color-grey-600: rgba(100,100,100,1);
$color-grey-800: rgba(44,44,44,1);
$color-violet-brand: rgba(127,63,255,1);
$color-violet-base: rgba(103,50,208,1);
$color-violet-light-bg: rgba(229,217,255,1);
$color-violet-background: rgba(77,36,157,1);
$color-fuschia-brand: rgba(235,14,149,1);
$color-fuschia-light-bg: rgba(253,231,244,1);
$color-periwinkle-brand: rgba(197,200,230,1);
$color-periwinkle-text: rgba(105,113,190,1);
$color-red-danger: rgba(208,50,76,1);
$color-red-background: rgba(166,40,61,1);
