$color-base-white: rgba(255,255,255,1);
$color-base-dark: rgba(55,57,58,1);
$color-grey-100: rgba(230,230,230,1);
$color-grey-200: rgba(204,204,204,1);
$color-grey-50: rgba(243,243,243,1);
$color-grey-400: rgba(154,154,154,1);
$color-grey-600: rgba(100,100,100,1);
$color-grey-800: rgba(44,44,44,1);
$color-indigo-brand: rgba(101,0,111,1);
$color-violet-brand: rgba(127,63,255,1);
$color-violet-base: rgba(103,50,208,1);
$color-violet-light-bg: rgba(229,217,255,1);
$color-violet-background: rgba(77,36,157,1);
$color-fuschia-brand: rgba(235,14,149,1);
$color-fuschia-light-bg: rgba(253,231,244,1);
$color-periwinkle-brand: rgba(197,200,230,1);
$color-periwinkle-text: rgba(105,113,190,1);


$color-red-danger: rgba(208,50,76,1);
$color-red-danger-text: rgba(95, 33, 32, 1);
$color-red-background-light: rgba(253, 237, 237, 1);
$color-red-background-dark: rgba(166,40,61,1);

$color-yellow-warning-text: rgba(102, 60, 0, 1);
$color-yellow-warning-background: rgba(255, 244, 229, 1);

$color-blue-info-text: rgba(1, 67, 97, 1);
$color-blue-info-background: rgba(229, 246, 253, 1);

$color-green-success-text: rgba(30, 70, 32, 1);
$color-green-success-background: rgba(237, 247, 237, 1);
