@import './constants/colors.scss';
@import './constants/grid.scss';
@import './constants/typography.scss';

html {
  font-size: 16px;
}

html,
body {
  @include text-style-typography-body-copy;
  padding: 0;
  margin: 0;
  height: 100vh;
}

body > div#__next {
  height: 100%;
}

h1 {
  @include text-style-typography-h-1;
  color: $color-indigo-brand
}

h2 {
  @include text-style-typography-h-2;
  color: $color-grey-800;
}

h3 {
  @include text-style-typography-h-3
}

p {
  @include text-style-typography-body-copy;
  line-height: 160%;
  color: $color-grey-800;
}

img {
  margin: $grid-base-unit 0;
}

code {
  padding: $grid-text-unit;
  background-color: $color-grey-50;
}