@import './constants/grid.scss';
@import './constants/colors.scss';
@import './constants/responsive.scss';

.lMain {
  height: 100%;
  display: grid;


  & > .topNavWrapper {
    display: none;
    @include for-desktop-up {
      display: initial;
    }
  }

  & > .topNavMobileWrapper {
    display: none;
    @include for-phone-only {
      display: initial;
    }
  }
}

.lNav {
  height: 100%;
  margin: 0 auto;

  @include for-desktop-up {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 1024px;
    overflow: hidden;
  }

  & > .navbarWrapper {
    display: none;
    @include for-desktop-up {
      display: initial;
    }
  }

  & main {
    padding: calc(2 * $grid-base-unit) calc(7 * $grid-base-unit);
    padding-bottom: calc(8 * $grid-base-unit);
    overflow-y: auto;
    background-color: $color-base-white;
    border-right: solid 1px $color-grey-100;

    & > .contentWrapper {
      width: 100%;
    }

    & video {
      max-width: 100%;
    }
  }
}