@import './constants/grid.scss';
@import './constants/colors.scss';

.lNav {
  display: grid;
  height: 100%;
  grid-template-columns: 200px 1fr;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  & main {
    padding: calc(9 * $grid-base-unit) calc(7 * $grid-base-unit) 0;
    overflow-y: auto;
    background-color: $color-base-white;
    border-right: solid 1px $color-grey-100;

    & > .contentWrapper {
      width: 100%;
    }

    & video {
      max-width: 100%;
    }
  }
}