@import './constants/grid.scss';
@import './constants/colors.scss';

.lNav {
  display: grid;
  height: 100%;
  grid-template-columns: 200px 1fr;
  max-width: 1024px;
  margin: 0 auto;

  & main {
    padding: calc(11 * $grid-base-unit) calc(5 * $grid-base-unit) 0;
    background-color: $color-base-white;
    border-right: solid 1px $color-grey-100;
  }
}