@import './constants/colors.scss';
@import './constants/typography.scss';
@import './constants/grid.scss';

.mainNavbar {
  border-right: solid 1px $color-grey-100;

  & > ul {
    list-style: none;
    padding-left: 0;
    & > li {
      padding: $grid-base-unit calc(2 * $grid-base-unit);
      &.active {
        & > a {
          font-weight: 600;
          color: $color-violet-base;
          &:hover {
            color: $color-violet-base;
          }
        }
      }

      & > a {
        @include text-style-typography-ui;
        color: $color-grey-800;

        &:hover {
          color: $color-violet-base;
        }
      }
    }
  }

}

.logoWrapper {
  width: 100%;
  text-align: center;
  padding: calc(2 * $grid-base-unit) 0;
}